[run]
source = polars_ts
omit =
    polars_ts/pipeline.py
    polars_ts/global_model.py

[report]
fail_under = 65
show_missing = true
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError

[xml]
output = coverage.xml
